@import "global"
.index
  +screen
  +overlay($color-primary-50)
  display: flex
  align-items: start
  justify-content: center
  background-size: cover

.index__text
  z-index: 1
  color: $color-passive
  max-width: 40%
  margin-left: 10%


.carousel
  img
    height: 100vh



.carousel-caption
  display: flex


.carousel-inner
  h5
    text-align: left

    font-size: 32px
  p
    text-align: left

    font-size: 20px
